/vendor/*
/Tests/env/local/
config/database.php
config/config.php
node_modules
composer.lock
.phpunit.result.cache
SiteSettings.php
webpack.config.js
# macOS system files
.DS_Store
.AppleDouble/
.AppleDesktop/