/* Sticky Footer Styles */
body {
    display: flex; 
    background-color: transparent; 
    font-family: 'Helvetica', sans-serif; /* Set the body text to Helvetica */
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    height: 100%; 
}

/* Styling for the container */
.container {
    flex: 1; /* Grow to take up all available space */
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    padding-bottom: 20px;
}


/* Carousel Navigation Icons */
.carousel-control-prev i, .carousel-control-next i {
    font-size: 30px;
    color: white;
}

/* Custom Carousel Indicators */
.custom-carousel-indicators {
    bottom: -30px; 
   
}
.custom-carousel-indicators li { background-color:#343a40}

/* Artist Details Styling */
.artist-detail {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(120deg, #696969, #b33e3e, #FFFFFF); /* Updated gradient background */
    border-radius: 15px;
    margin: 10px 5px;
    transition: transform 0.3s ease;
    color: #fff; /* Set text color to white for artist details */
}

/* For devices with a screen width of 768px and above (e.g., tablets and desktops) */
@media (min-width: 768px) {
    .artist-detail {
        width: auto;
    }
}


/* Hover Effect for Artist Details */
.artist-detail:hover {
    transform: translateY(-10px); 
}

/* Typography Styles */
h1.text-center, 
.carousel-item h3, 
.carousel-item p {
    color: #fff; /* Set text color to white for main title and artist details */
}

/* Overall page overlay */
body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: -1;
}

/* Additional text style */
.text-grey {
    color: #202121;
}

/* Footer Styles */
footer.bg-dark {
    color: #fff; /* Set footer text to white */
}
/* Styling for the title box */
.title-box {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensuring it takes full width of the container */
    background-color: rgba(183, 62, 62, 0.6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title-box h1 {
    margin: 0;
    color: #ffffff; /* Changing the text color to white */
}

/* Clearing floats after the artist details */
.carousel-item:after {
    content: "";
    display: table;
    clear: both;
}


/* About the Festival section styles */
.section-block {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #fff; /* Text color set to white */
}

.section-block h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

